@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    height: 10vw;
    background-color: rgb(43, 43, 43);
    justify-content: center;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
  }

.header-image {
    width: 8vw;
    margin-right: 30px;
}

.header-title {
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 2em;
    font-weight: 600;
}